/* FOOTER */
footer {
  border-top: 1px solid var(--line);
  padding: 28px 0;
  text-align: center;
  font-size: 14px;
  color: #616974;
  margin-top: 60px;
}

footer p {
  margin: 0;
}

footer span {
  font-weight: 600;
}
